{{define "title"}}Login{{end}}
{{define "content"}}

<div class="mt-3 card mx-auto" style="width: 25rem;" >
    <article class="card-body">
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
    <p>
		<a href="" class="btn btn-block btn-outline-primary"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
	</p>
    <form action="/user/login" method="POST">
    <div class="form-group">
    	<label>Your login</label>
        <input name="login" class="form-control" placeholder="Login" type="text" required>
    </div> <!-- form-group// -->
    <div class="form-group">
    	<a class="float-right" href="#">Forgot?</a>
    	<label>Your password</label>
        <input name="password" class="form-control" placeholder="******" type="password" required>
    </div> <!-- form-group// --> 
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
        <a class="btn btn-primary btn-block" href="/user/new">Create a new account</a>
    </div> <!-- form-group// -->                                                           
    </form>
</div>

{{end}}