{{/* override for this view the template to nil */}}
{{define "base"}}
{{- template "content" .}}
{{end}}

{{define "user_logs"}} {{end}}

{{define "content" }}
    {{ template "user_logs" .}}
{{end}}