{{define "title"}}Reset Password{{end}}
{{define "content"}}


<div class="card mt-4 w-50">
    <div class="card-header">
        Reset Password Required
    </div>
    <form action="/user/reset_password" method="POST">
        <div class="input-group pl-3 pt-3" >
            <label class="mr-2" name="password">Password :</label>
        </div>
        <div class="input-group p-3">
            <input type="password" name="password" id="password" class="form-control" data-toggle="password">
            <div class="input-group-append">
                <span class="input-group-text">
                <i class="fa fa-eye"></i>
                </span>
            </div>           
        </div>
        <div class="input-group pl-3 pr-3">
            <input class="btn btn-primary btn-block" type="submit" value="Reset"/>
        </div>
    </form>
</div>
   
   

{{end}}