{{define "title"}}Reset Password{{end}}
{{define "content"}}


<div>

    <h2> Reset Password Required</h2>
    
    <form action="/user/reset_password" method="POST">
        <label name="password">Password</label><input type="text" name="password"/>
        <input class="btn btn-primary" type="submit" value="Reset"/>
    </form>
</div>

{{end}}