{{define "title"}}User: {{.Login}}{{end}}
{{define "content"}}

<div class="card mt-4">
  <div class="card-header">
    {{.Login}}
  </div>
  <div class="card-body">
    <p class="card-text">Mail: {{.Email}}</p>
    <p class="card-text">LastLogin: {{.PrettyLastLogin}}</p>
    <a id="destroy_user" class="btn btn-danger" href="#" >Destroy</a>
    <a class="btn btn-primary" href="/user/reset_password" >Change password</a>
  </div>
</div>

{{end}}