[
	{
		"Quality": {
			"Min": 20,
			"Max": 25
		},
		"Quantity": {
			"Min": 1,
			"Max": 2
		},
		"BasePrice": 6,
		"Requirements": [
			{
				"ItemTypes": [
					"TestItemType2"
				],
				"ItemName": "",
				"Quality": {
					"Min": 5,
					"Max": 50
				},
				"Quantity": 3,
				"Denomination": "Some item"
			}
		],
		"Products": null,
		"Delay": 1,
		"ItemType": [
			"ItemType3"
		],
		"ItemName": "TestItem",
		"IsAdvanced": false,
		"ProducerName": "TestMaker"
	}
]