[
	{
		"Requirements": [
			{
				"ItemTypes": [
					"TestItemType2"
				],
				"ItemName": "",
				"Quality": {
					"Min": 5,
					"Max": 50
				},
				"Quantity": 3,
				"Denomination": "Some item"
			}
		],
		"Products": [
			{
				"ItemTypes": [
					"ItemType3"
				],
				"ItemName": "TestItem",
				"Quality": {
					"Min": 20,
					"Max": 25
				},
				"Quantity": {
					"Min": 1,
					"Max": 2
				},
				"BasePrice": 0,
				"UpgradeInfo": {
					"QualityMin": 0,
					"QualityMax": 0,
					"QuantityMin": 0,
					"QuantityMax": 0
				},
				"BigUpgradeInfo": {
					"Delay": 0,
					"BasePrice": 0,
					"QualityMin": 0,
					"QualityMax": 0,
					"QuantityMin": 0,
					"QuantityMax": 0
				}
			}
		],
		"Delay": 1,
		"IsAdvanced": false,
		"ProducerName": "TestMaker"
	}
]