{{define "content"}}

<div class="card">
    <div class="card-header">
        <div class="corporation-title">
            Corporation {{.Name}}
        </div>
        
    </div>
    
    {{if .IsOwner}} 
    {{with .Extended}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Founds: {{.Credits}} $$</li>
        
        {{ range .Caravans }} 
        <li class="list-group-item">
            <a class="fill_caravan caravan" href="#"  data-target="/caravan/{{.ID}}" data-method="GET" data-caravan-id="{{.ID}}">
                <div class="caravan-title">
                    {{.OriginCityName}} -> {{.TargetCityName}}
                </div>
            </a>
            <div class="caravan-state badge {{if .IsRequiringAction }}caravan-action-required badge-warning{{else}} badge-info{{end}}">
                {{.StringState}}
            </div>
            <br/>
            {{if .IsRequiringAction}}
                <a class="href_corp_action" href="#" data-target="/caravan/{{.ID}}/accept" data-method="POST" >Accept</a> 
                <a class="href_corp_action" href="#" data-target="/caravan/{{.ID}}/reject" data-method="POST" >Reject</a> 
                {{if .CanCounter}} 
                <a class="fill_caravan" href="#"     data-target="/caravan/{{.ID}}/counter" data-method="GET" data-caravan-id={{.ID}} >Counter</a> 
                {{ end }}
            {{else}}
                {{ if .IsActive }}
                    <a class="href_corp_action" href="#" data-target="/caravan/{{.ID}}/abort" data-method="POST" >Abort</a> 
                {{ else }}
                    <a class="href_corp_action" href="#" data-target="/caravan/{{.ID}}/drop" data-method="POST" >Drop</a> 
                {{ end }}
                </div>
            {{end}}
        </li>
        
        <li class="list-group-item">
            {{.NextUpdateStr}}
        </li>
        {{end}}
    </ul>
    
    <div class="card-footer  text-muted">
    </div>
    {{end}}
    {{end}}

</div>

{{end}}
