{{define "user_logs"}}
    <div class="container user_log_container">
    {{ range UserLogs }}
        <div class="row">
            <div class="col-3-sm">
                {{.DateStr}}&nbsp;
            </div>
            <div class="col-2-sm">
                {{.GravityStr}}
            </div>
            <div class="col-auto">
                {{.MessageStr}}
            </div>
        </div>
    {{ end }}        
    </div>
{{end}}