// Copy this file to config/config.go
// Set appropriate values for consts.
package config

const (
    DB_USER     = "user"
    DB_PASSWORD = "password"
    DB_NAME     = "name"
    DB_HOST     = "host"
	DB_PORT       = "5432"
    STATIC_FILES  = "web\\static"
	WEB_TEMPLATES = "web\\templates"
	WEB_LAYOUTS   = "web\\shared"
	DB_MIGRATIONS = "db\\migrations"
	DB_SCHEMA     = "db\\schema.sql"
)