// Copy this file to config/config.go
// Set appropriate values for consts.
package config

const (
    DB_USER     = "user"
    DB_PASSWORD = "password"
    DB_NAME     = "name"
    DB_HOST     = "host"
    STATIC_FILES    = "web\\static"
	WEB_TEMPLATES   = "web\\templates"
	WEB_LAYOUTS     = "web\\shared"
)