// Copy this file to config/config.go
// Set appropriate values for consts.
package config

const (
    DB_USER     = "user"
    DB_PASSWORD = "password"
    DB_NAME     = "name"
    DB_HOST     = "host"
	DB_PORT       = "5432"
    HTTP_PORT   = ":80"
    STATIC_FILES  = "web\\static"
	WEB_TEMPLATES = "web\\templates"
	WEB_LAYOUTS   = "web\\layouts"
	WEB_SHARED    = "web\\shared"
	DB_MIGRATIONS = "db\\migrations"
	DB_SCHEMA     = "db\\schema.sql"
	WEB_RELOADING = true
	DATA_PRODUCERS = "data\\producers"
	DATA_NAMES     = "data\\names"
)