.city-menu-click .city_holder {
    border-color:  magenta !important
}


.city-menu-click .city_holder {
    border-color:  magenta !important
}

.city-menu-click #city_title{
    background-color: magenta !important;
}

.city-clicked{
    background-color: magenta !important;
}

.auto-hide:empty {
    display: none;
}

.upgrade {
    color: darkblue
}

.bigupgrade{
    color: darkgreen
}

.item_already_exchanged {
    background-color: rgb(198, 201, 33);
}

.user_log_container{
    max-height: 75px;
    font-size: 0.7em;
    overflow-y: scroll;
}

.keep_clear{
    height: 800px;
}

#unset {
all : unset;
}
#game-container {
    display: flex;
    align-items: left;
    justify-content: center;
  }



#game-container > canvas {
border-radius: 5px;
}