.city_holder{
    width:  300px;
    background: white    
}

.auto-hide:empty {
    display: none;
}

.shadowtop{
    box-shadow: -10px 0px #BBB;
}

.cities_row {
    display: inline-flex;
    background: green
}

.cities_grid {
}

.bgorange {
    background-color: orange;
}

.upgrade {
    color: darkblue
}

.bigupgrade{
    color: darkgreen
}

.case {
    width: 24px;
    height: 24px;
    border-color: black;
}

.case[data-type="Road"] {
    background-color: #952
}

.case[data-type="City"] {
    border-radius: 24px;
    background-color: gray;
    
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.case[data-type="None"] {
    background-color:green;
}

.case[data-my-corp] {
    border-radius: 24px;
    background-color: rgb(178, 190, 3);
    
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.city-hovered{
    background-color: purple !important;
}

.city-menu-hovered .city_holder{
    border-color:  purple !important;
}

.city-menu-hovered #city_title{
    background-color: purple !important;
}

.city-menu-click .city_holder {
    border-color:  magenta !important
}

.city-menu-click #city_title{
    background-color: magenta !important;
}

.city-clicked{
    background-color: magenta !important;
}


.target-city-hovered{
    background-color: darkcyan !important;
}

.item_already_exchanged {
    background-color: rgb(198, 201, 33);
}

.user_log_container{
    max-height: 75px;
    font-size: 0.7em;
    overflow-y: scroll;
}

.keep_clear{
    height: 800px;
}