{{define "ProductAttr"}}
{{if .Active }}
class="m-1 badge badge-success badge-pill" 
title="{{.EndTime}}"
{{else}}
class="m-1 badge badge-danger badge-pill" 
title="{{.Requirements}}"
{{end}}
{{end}}

{{define "producer"}}

    {{ $producerID:= .ProducerID }}
    {{ $producer:= . }}
    
        {{range .Products}}
        <span {{template "ProductAttr" $producer }}>{{.ProductName}} (+{{.Quantity.Min}})</span>
        {{ if .Upgrade }} <span data-producer="{{ $producerID}}" class="upgrade" > <i class="fas fa-coins"></i> </span>{{end}}
        {{ if .BigUpgrade }}<span data-producer="{{ $producerID}}" class="bigupgrade" > <i class="fas fa-coins"></i></span> {{end}}   
 {{ if .Upgrade }} 
        <div class="upgrade" style="display: none;" data-producer="{{ $producerID }}">
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="0" data-product="{{.ID}}" class="mr-1 badge badge-warning badge-pill">Min Quantity: +1</span>
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="1" data-product="{{.ID}}"  class="mr-1 badge badge-warning badge-pill">Max Quantity: +1</span>
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="2" data-product="{{.ID}}"  class="mr-1 badge badge-warning badge-pill">Min Quality: +1</span>
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="3" data-product="{{.ID}}"  class="mr-1 badge badge-warning badge-pill">Max Quality: +1</span>
        </div>
        {{end}}
        
        
        {{ if .BigUpgrade }} 
        <div class="bigupgrade" style="display: none;" data-producer="{{ $producerID }}">
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="4"  data-product="{{.ID}}" class="mr-1 badge badge-warning badge-pill">Price: +1</span>
                <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="6" data-product="{{.ID}}" class="mr-1 badge badge-warning badge-pill">Min Quantity: +5</span>
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="7"  data-product="{{.ID}}" class="mr-1 badge badge-warning badge-pill">Max Quantity: +5</span>
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="8"  data-product="{{.ID}}" class="mr-1 badge badge-warning badge-pill">Min Quality: +5</span>
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="9" data-product="{{.ID}}" class="mr-1 badge badge-warning badge-pill">Max Quality: +5</span>   
        </div>
        {{end}}

        <br />
    {{end}}
        {{ if .BigUpgrade }} 
        <div class="bigupgrade" style="display: none;" data-producer="{{ $producerID }}">
            <span data-city="{{$producer.CityID}}" data-producer="{{ $producerID }}" data-action="5"  data-product="0" class="mr-1 badge badge-warning badge-pill">Delay: -1</span>
        </div>
        {{end}}
{{end}}

{{define "content"}}
{{ $cityId := .ID }}
<div class="city_holder border border-primary">
        
        <!-- CITY NAME & LOCATION -->
        <div class="row no-gutters">
            <div class="col-12 p-1 bg-primary"> 
                {{.Name}} <span class="font-weight-light">{{.Location}}</span> <i class="fas fa-cog"></i>
            </div>
        </div>

        <!-- CITY Neighbours -->
        <div class="row no-gutters">
            <div class="col-12">    
                <div class="p-1 pl-2 border-bottom border-info bg-info"> Neibhours : </div>
                <div class="p-1" >
                    {{range .Neighbours}}
                            <span class="mb-1 badge badge-success badge-pill">{{.Name}}</span>
                    {{end}}
                </div>
            </div>
        </div>

        
        <!-- CITY Owning corporation (if any) -->
        <div class="row no-gutters">
            <div class="col-12">    
                <div class="p-1 pl-2 border-bottom border-info bg-info"> Corporation : </div>
                <div class="p-1" >
                    {{ .CorpoID }}: {{ .CorporationName }}
                </div>
            </div>
        </div>

        
        <!-- CITY Fame (to me)) -->
        <div class="row no-gutters">
            <div class="col-12">    
                <div class="p-1 pl-2 border-bottom border-info bg-info"> Fame : </div>
                <div class="p-1" >
                    {{ CurrentCorp.Name }} : {{ .Fame }}
                </div>
            </div>
        </div>


        {{ if .Filled }}
        <!-- Begin of corporation specific display -->

        <!-- CITY Storage  -->
        <div class="row no-gutters">
            <div class="col-12 border-left border-info">
                <div class="p-1 pl-2 border-bottom border-info bg-info"> Storage <span class="badge badge-Warning badge-pill">{{.Storage.Count}}/{{.Storage.Capacity}}</span></div>
                <div class="p-1" style="min-height: 40px" >
                    {{range .Storage.Item}}
                        <span class="mb-1 badge badge-primary badge-pill" title="{{.ShortPretty}}">{{.Name}} : {{.Quantity}}</span>
                    {{end}}
                </div>              
            </div>
        </div>

        
        <!-- CITY Caravans  -->
        <div class="row no-gutters">
                <div class="col-12 pl-2 bg-info"> Caravan <i class="fas fa-plus"></i></div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 p-1" style="min-height: 40px" >
                <span class="mr-1 badge badge-info badge-pill">-> Nevez</span>
                <span class="mr-1 badge badge-info badge-pill">-> Nevezenn</span>
                <span class="mr-1 badge badge-info badge-pill">-> Coulédous</span>
            </div>
        </div>         

        
        
        <!-- CITY Factories  -->

        <div class="row no-gutters">
                <div class="col-12 pl-2 bg-info" >Factory</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 p-1" style="min-height: 40px" >
            {{range .Factories}}
                {{ template "producer" .}}
            {{end}}
            </div>
        </div>

        
        
        <!-- CITY Ressources  -->

        <div class="row no-gutters">
                <div class="col-12 pl-2 bg-info">Resource Generator</div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 p-1" style="min-height: 40px" >
            {{range .Ressources}}
                {{template "producer" .}}

            {{end}}
           </div>
        </div>

        <!-- End of Corporation specific display  -->
        {{ end }} 
    </div>
</div>
{{end}}