{{define "title"}}Admin > Tools{{end}}
{{define "content"}}


<div>

<ul class="list-group">
  <li class="list-group-item"> Reload Database : <a href="#" class="href_action" data-method="DELETE" data-target="/api/admin/tools/rdb" data-redirect="/admin/tools" ><i title="Reload Database" class="text-success fas fa-redo-alt"></i></a></li>
  <li class="list-group-item"> Reload Server : <a href="#" class="href_action" data-method="DELETE" data-target="/api/admin/tools/rsrv" data-redirect="/admin/tools"> <i title="Reload Server" class="text-success fas fa-redo-alt"></i></a></li>
</ul>

</div>

{{end}}