{{define "title"}} {{.Name}} {{end}}
{{define "cell-content"}}
data-case="{{.Node.ID}}"
data-loc="{{.Node.Location}}"
data-type="{{.Node.Type}}"
{{if ne .City.ID 0 }}
    data-city="{{.City.ID}}"
    data-neighbours="[{{range .Neighbours}}'{{.}}',{{end}}]"
{{end}}
{{end}}


{{define "content"}} 
<div class="cities_grid  mt-2">
{{range .Nodes}}
    <div class="cities_row">
        {{range .}}
            <div class="case" {{template "cell-content" .}}>&nbsp;</div>
        {{end}}
    </div><br/>
{{end}}
</div>

<div id="city_holder"></div>

{{ if IsLogged }} LOGGED {{else}} NOT LOGGED {{end}}

{{end}}