{{define "title"}} {{.Name}} {{end}}

{{define "user_logs"}} {{end}}


{{define "nav_bar"}}
        <span class="navbar-text">
            <img src="/static/assets/logo/{{.UserCorp.Name}}.png" alt="{{.UserCorp.Name}}">&nbsp;{{.UserCorp.Name}} : <span id="nav-corp" data-corp-id="{{.UserCorp.ID}}"> {{.UserCorp.Credits}}</span>$
        </span>
        &nbsp;
        <a id="nav-caravan" href="#">
            <span class="navbar-text">
                Caravan <span class="mr-1 badge badge-warning badge-pill" id="CrvWaiting">{{.UserCorp.CrvWaiting}}</span>
            </span>
        </a>
{{end}}

{{define "content"}} 

    <div class="row h-100">
        <div class="col-md-3">
            <div class="row no-gutters">
                <div class="col-12">    
                    <div class="p-1 pl-2 border-bottom border-info bg-info"> <span>Case X: <span id="TileInfoX"></span> Y: <span id="TileInfoY"></span></span> </div>
                    <div class="p-1" >
                        <span id="TileInfo" />
                    </div>
                </div>
            </div>           
        </div>
        <div class="col-md-6">
                <div id="game-container"></div>
        </div>
        <div class="col-md-3">
            <div id="city_click"></div>  
            <div id="city_hover"></div> 
        </div>
    </div>
 
<script src="/static/js/Upsilon.js" type="module"></script>
{{end}}

{{define "js_content"}}
    reloadCorp()
    corp_reloader_timer = setInterval(reloadCorp, 5000);
    fetchRecentsUserLogs()
    user_logs_timer = setInterval(fetchRecentsUserLogs, 5000);
{{end}}


{{define "footer"}}
    {{ template "user_logs" .}}
{{end}}