{{define "title"}} {{.WebGrid.Name}} {{end}}

{{define "user_logs"}} {{end}}


{{define "nav_bar"}}
    {{ if and (ne 0 CurrentCorpID) (IsMap) }}
        <span class="navbar-text">
            {{.UserCorp.Name}} : <span id="nav-corp" data-corp-id="{{.UserCorp.ID}}"> {{.UserCorp.Credits}}</span>$
        </span>
        &nbsp;
        <a id="nav-caravan" href="#">
            <span class="navbar-text">
                Caravan <span class="mr-1 badge badge-warning badge-pill" id="CrvWaiting">{{.UserCorp.CrvWaiting}}</span>
            </span>
        </a>
    {{end}}
{{end}}

{{define "cell-content"}}
    data-case="{{.Node.ID}}"
    data-loc="{{.Node.Location}}"
    data-type="{{.Node.Type}}"
    {{if ne .City.ID 0 }}
        data-city="{{.City.ID}}"
        data-corp-owned="{{.City.CorporationName}}"
        {{if eq .City.CorporationID CurrentCorpID }} 
            data-my-corp="1"
        {{ end }}
        data-neighbours="[{{range .Neighbours}}'{{.}}',{{end}}]"
    {{end}}
{{end}}


{{define "content"}} 


<div id="caravan_holder" class="float-left"></div>
<div class="border float-left">
    <div class="cities_grid">
        {{range .WebGrid.Nodes}}
            <div class="cities_row">
                {{range .}}
                    <div class="case" {{template "cell-content" .}}>&nbsp;</div>
                {{end}}
            </div><br/>
        {{end}}
    </div>
</div>
<div id="city_click" class="border float-left"></div>  
<div id="city_hover" class="border float-left"></div>  

{{end}}

{{define "js_content"}}
    reloadCorp()
    corp_reloader_timer = setInterval(reloadCorp, 5000);
    fetchRecentsUserLogs()
    user_logs_timer = setInterval(fetchRecentsUserLogs, 5000);
{{end}}


{{define "footer"}}
    {{ template "user_logs" .}}
{{end}}