{
	"Prefix": [
		{
			"Sea": [
				"_",
				"_",
				"_"
			],
			"Mountain": [
				"_",
				"_",
				"_"
			],
			"Forest": [
				"_",
				"_",
				"_"
			],
			"Neutral": [
				"_",
				"_",
				"_"
			],
			"Special": [
				"_",
				"_",
				"_"
			]
		}
	],
	"Suffix": [
		{
			"Sea": [
				"_",
				"_",
				"_"
			],
			"Mountain": [
				"_",
				"_",
				"_"
			],
			"Forest": [
				"_",
				"_",
				"_"
			],
			"Neutral": [
				"_",
				"_",
				"_"
			],
			"Special": [
				"_",
				"_",
				"_"
			]
		}
	]
}