{
	"Body": {
		"Sea": [
			"_",
			"_",
			"_"
		],
		"Mountain": [
			"_",
			"_",
			"_"
		],
		"Forest": [
			"_",
			"_",
			"_"
		],
		"Neutral": [
			"_",
			"_",
			"_"
		],
		"Special": [
			"_",
			"_",
			"_"
		]
	},
	"Prefix": {
		"Sea": [
			"_",
			"_",
			"_"
		],
		"Mountain": [
			"_",
			"_",
			"_"
		],
		"Forest": [
			"_",
			"_",
			"_"
		],
		"Neutral": [
			"_",
			"_",
			"_"
		],
		"Special": [
			"_",
			"_",
			"_"
		]
	},
	"Suffix": {
		"Sea": [
			"_",
			"_",
			"_"
		],
		"Mountain": [
			"_",
			"_",
			"_"
		],
		"Forest": [
			"_",
			"_",
			"_"
		],
		"Neutral": [
			"_",
			"_",
			"_"
		],
		"Special": [
			"_",
			"_",
			"_"
		]
	},
	"BodySuffix": {
		"Sea": [
			"_",
			"_",
			"_"
		],
		"Mountain": [
			"_",
			"_",
			"_"
		],
		"Forest": [
			"_",
			"_",
			"_"
		],
		"Neutral": [
			"_",
			"_",
			"_"
		],
		"Special": [
			"_",
			"_",
			"_"
		]
	}
}